.custom-user-container{
    width: 1440px;
    padding-left: 140px;
    padding-right: 140px;
    text-align: left;
    margin: auto;
}
.custom-user-image{
    height: 119px;
width: 119px;
}
.custom-welcome-margin{
    margin-top: 15px;
}
.custom-text-size{
    font-family: 'emprintSemibold';
  font-size: 22px !important;
  line-height: 22px !important;
  color: #0A3039 !important;
}
.custom-add-tag{
    display: flex;
    margin-top: 13px;
}
.custom-tag-margin{
    margin-left: 6px;
}
.custom-interest-margin{
    margin-top: 27px;
    margin-bottom: 6px;
}

.user-button {
height: 28px;
border-radius: 15px;
background-color: #D73872;
color: white;
border-style: none;
margin: 5px;
padding-left: 15px;
padding-right: 15px;
text-align: center;
padding-bottom: 4px;



}

button:focus{
    border-style: none !important;
    outline:none;
}


.dashboard-btn-container{
    display: inline-block;
    width: 60%;
    margin-top: 9px;
    margin-left: -4px;
}

button:focus{
    outline: none;
}
.footer-divider {
    height: 4px;
    width: 103%;
    margin-left: -52px;
    margin-top: 126px;
    background-color: #eee;
  }
.customCursor{
    cursor: pointer;
}

input[type=checkbox] {
    visibility: visible !important;
}
.modalCloseButton{
    background-color: #D73872;
    margin-left : 5px;
    outline: none;
}











