
.custom-div-margin{
    margin-left: 5.3%;
    margin-top: 25px;
}

.custom-number2-flex{
    display: flex;
    }


.custom-number2-flex{
    display: flex;
    }
 


.custom-margin-email{
    margin-bottom: 30%;
}

.custom-margin-connect{
    margin-bottom: 18px;
}

.custom-margin-gsc{
    margin-bottom: 6px;
}
.custom-margin-houston{
    margin-bottom: 15px;
}

.custom-ali-margin{
    margin-left: 13.8%;
    margin-top: -38px;
    width: 106%;
}

.custom-image2-size{
    height: 59px;
    width: 59px;
}
.user-ali{
    height: 59px;
    position: relative;
    right: 96px;
}

.custom-margin-ali{
    margin-bottom: 50px;
    position: relative;
    right: 27px;
}

.custom-ali{
    font-family: 'emprintSemibold' !important;
    font-size: 16px !important;
    line-height: 22px !important;
    color: #0A3039 !important;
    position: relative;
    right: 85px;
}
.custom-number2-flexbasis{
    flex-basis: 0% !important;
    margin-left: 71px !important;
}