

.em-l-grid--1-to-3up {
  background-color: rgba(255, 255, 255, 1);
  width: 1440px !important;
}

.learn_illustration {
  /* padding-left: 11%; */
  margin-left: -13%;
  margin-bottom: 5px;
}
.grid-1 {
  margin-left: 10%;
}
.em-l-grid__item {
  width: 31.9%;
}
.em-l-grid--2up {
  margin-left: 10px;
}
.em-c-btn__text {
  color: rgba(255, 255, 255, 1) !important;
  font-size: 21px !important;
}
/* .learn{
  color:rgba(10, 48, 57, 0.5) !important;
} */
/* .learn-content{
  color:rgba(10, 48, 57, 0.5) !important;
} */
.body-header {
  text-align: left;
  height: 58px;
  width: 401px;
  font-family: "emprintsemibold";
  font-size: 46px;
  color: rgba(10, 48, 57, 1);
  margin-left: -2%;
  margin-bottom: 12%;
}
.body-header-data {
  height: 44px;
  width: 353px;
  font-family: "emprintregular";
  font-size: 16px;
  color: rgba(10, 48, 57, 1);
  text-align: left;
  line-height: 22px;
  margin-left: 5%;
  position: relative;
  bottom: 46px;
}
.solution {
  margin-right: 15%;
}
.body-header-data__container {
  display: inline-block;
  margin-right: -23%;
  margin-bottom: 9%;
  /* margin-left: 13px; */
}
.body-header-data__marker {
  height: 49px;
  border: 2px solid rgba(12, 71, 157, 1);
  width: 0px;
}
.write-up-container {
  padding-bottom: 7%;
  padding-top: 13.5%;
  margin-left: -82px;
  width: 101%;

}
.write-up-solutions{
  padding-bottom: 7%;
  padding-top: 4.8%;
  margin-left: -82px;
  width: 101%;
}
.learning-content {
  padding-top: 11px;
  margin-left: 23%;
  font-family: "emprintregular";
  height: 66px;
  width: 100%;
  font-size: 16px;
  color: rgba(10, 48, 57, 1);
  text-align: left;
  line-height: 22px;

  
}
  

.learning-header {
  height: 39px;
  width: 300px;
  font-family: "emprintsemibold";
  font-size: 30px;
  /* color: rgba(10, 48, 57, 0.5); */
  text-align: center;
  margin-left: 48%;
}

.learning-header-community {
  height: 38px;
  width: 300px;
  font-family: "emprintsemibold";
  font-size: 30px;
  text-align: center;
  margin-left: 42%;
}
.underline-learn {
  border-bottom: 8px solid rgba(215, 56, 114, 0.8);
  width: 35%;
  padding-top: 1.5px;
}
.underline-community {
  border-bottom: 8px solid rgba(215, 56, 114, 0.8);
  width: 47%;
  padding-top: 2px;
}
.underline-solution {
  border-bottom: 8px solid rgba(215, 56, 114, 0.8);
  width: 51.2%;
  padding-top: 2px;
}
.middle-section {
  height: 214px;
  margin-top: 32px;
  background-color: #eeeeee;
  padding-top: 32px;
  
}
.middle-section-container{
  width: 100%;
}
.success-stories {
  margin-bottom: 32px;
}
.custom-btn {
  background: #d73872;
  color: #eeeeee;
  background-image: -webkit-linear-gradient(
    -259deg,
    rgba(215, 56, 114, 1) 0%,
    rgba(215, 56, 114, 1) 12%,
    rgba(189, 47, 127, 1) 36%,
    rgba(122, 65, 131, 1) 82%,
    rgba(122, 65, 131, 1) 100%
  );
  background-image: -moz-linear-gradient(
    -259deg,
    rgba(215, 56, 114, 1) 0%,
    rgba(215, 56, 114, 1) 12%,
    rgba(189, 47, 127, 1) 36%,
    rgba(122, 65, 131, 1) 82%,
    rgba(122, 65, 131, 1) 100%
  );
  background-image: -o-linear-gradient(
    -259deg,
    rgba(215, 56, 114, 1) 0%,
    rgba(215, 56, 114, 1) 12%,
    rgba(189, 47, 127, 1) 36%,
    rgba(122, 65, 131, 1) 82%,
    rgba(122, 65, 131, 1) 100%
  );
  background-image: linear-gradient(
    -259deg,
    rgba(215, 56, 114, 1) 0%,
    rgba(215, 56, 114, 1) 12%,
    rgba(189, 47, 127, 1) 36%,
    rgba(122, 65, 131, 1) 82%,
    rgba(122, 65, 131, 1) 100%
  );
}
.custom-btn:hover {
  background: #d73872 !important;
  color: #eeeeee;
  background-image: -webkit-linear-gradient(
    -259deg,
    rgba(215, 56, 114, 1) 0%,
    rgba(215, 56, 114, 1) 12%,
    rgba(189, 47, 127, 1) 36%,
    rgba(122, 65, 131, 1) 82%,
    rgba(122, 65, 131, 1) 100%
  ) !important;
  background-image: -moz-linear-gradient(
    -259deg,
    rgba(215, 56, 114, 1) 0%,
    rgba(215, 56, 114, 1) 12%,
    rgba(189, 47, 127, 1) 36%,
    rgba(122, 65, 131, 1) 82%,
    rgba(122, 65, 131, 1) 100%
  ) !important;
  background-image: -o-linear-gradient(
    -259deg,
    rgba(215, 56, 114, 1) 0%,
    rgba(215, 56, 114, 1) 12%,
    rgba(189, 47, 127, 1) 36%,
    rgba(122, 65, 131, 1) 82%,
    rgba(122, 65, 131, 1) 100%
  ) !important;
  background-image: linear-gradient(
    -259deg,
    rgba(215, 56, 114, 1) 0%,
    rgba(215, 56, 114, 1) 12%,
    rgba(189, 47, 127, 1) 36%,
    rgba(122, 65, 131, 1) 82%,
    rgba(122, 65, 131, 1) 100%
  ) !important;
}
.about-dsa {
  height: 27.8rem;
  background-color: rgba(122, 65, 131, 1);
 
}
.first {
  margin-top: 5%;
  width: 37% !important;
}
.second {
  width: 54% !important;
  margin-top: 6.3%;
  margin-left: 9%;
}
.about-header {
  color: #eeeeee !important;
  padding-left: 108px;
  width: 83%;
  text-align: left;
  font-size: 30px !important;
  height: 76px;
  margin-bottom: 12px !important;
}
.about-body {
  color: #eeeeee !important;
  padding-left: 108px;
  width: 83%;
  text-align: left;
  font-size: 22px !important;
  padding-bottom: 35px;
}
.large {
  width: 42%;
  right: 3px;
  padding-bottom: 7px;
  padding-top: 7px;
}

.about-container {
  margin-top: 34px;
  position: relative;
  right: 23.4%;
  /* margin-right: 172px; */
}
.btn-text {
  padding-right: 11px;
  height: 25px;
  width: 166px;
  font-size: 21px !important;
  color: rgba(122, 65, 131, 1) !important;
}
.lady-circle {
  position: relative;
  right: 23%;
}
.arif-waheed {
  position: relative;
  right: 17%;
  bottom: 20px;
}
.path-2 {
  position: relative;
  right: 86%;
}
.rectangle {
  position: relative;
  right: 84%;
  bottom: 214px;
}
.oval-1 {
  position: relative;
  right: 18%;
  bottom: 14rem;
}
.nasa {
  position: relative;
  right: 51%;
  top: 2rem;
}
.ian-espinosa {
  position: relative;
  bottom: 221px;
  left: 11%;
}
.linkedin {
  position: relative;
  bottom: 23rem;
  left: 3%;
}
.oval {
  position: relative;
  bottom: 15rem;
  right: 37%;
}
.fill_219 {
  position: relative;
  bottom: 24rem;
  left: 8rem;
}
.combined_shape {
  position: relative;
  bottom: 16rem;
  right: 6%;
}
.about-img-container {
  width: 843px;
  height: 325px;
  margin-top: -43px;
  position: relative;
  right: 199px;
}

.find-solutions {
  height: 231px;
  margin-right: -29%;
}
.community-illustration{
  margin-left: 11%;
}
.custom-block-margin{
  margin-top: 12px !important;
  margin-left: -84px;
}
.coming-soon-learn{
  position: absolute;
  margin-top: -180px;
  margin-left: -5px;
}
.coming-soon-community{
  position: absolute;
    margin-top: -178px;
    margin-left: 110px;
}
.coming-soon-solution{
  position: absolute;
  margin-top: -207px;
  margin-left: 166px;

}
.custom-community-margin{
  margin-left: 36%;
}
.custom-community-body-margin{
  margin-left: 3% !important;
}
.custom-find-soltion-body{
  margin-left: 110px !important;
}
.custom-find-solutions{
  margin-left: 59%;
}


@media screen and (min-width: 1930px){
  .em-l-grid--1-to-3up{
    margin-left: 20%;
  }
  .em-l-grid--2up{
    margin-left: 20%;
    margin-right: 9%;
  }
}
@media screen and (max-width: 1920px) {
  .coming-soon-solution{
    margin-left: 144px !important;
  }
  .em-l-grid--1-to-3up{
    margin-left: 10%;
    padding-right: 140px;
    padding-left: 140px;
  }
  .em-l-grid--2up{
    margin-left: 200px;
  }
  .about-img-container{
    right: 308px;
  }
  .body-header{
    margin-left: -2.3% !important;
  }
 .body-header-data__container{
  margin-left: 65px;
  margin-right: 0px !important;
 }
 .second{
  margin-left: 0.8%;
 }
 .first{
  margin-left: 8.2%;
 }
 
}
@media screen and (max-width: 1537px){
  .em-l-grid--1-to-3up {
    margin-left: 143px;

}
.first{
  margin-left: 0%; 
    margin-right: 112px;

}
.coming-soon-solution{
  margin-left: 42px !important;
}
.about-img-container {
  right: 295px;
}
.coming-soon-learn{
  margin-left: -5px;
}
.em-l-grid--2up{
  margin-left: 150px;
}
}


