.em-l-grid--1-to-3up {
  background-color: rgba(255, 255, 255, 1);
  width: 1440px !important;
}

.learn_illustration {
  /* padding-left: 11%; */
  margin-left: -13%;
  margin-bottom: 5px;
}
.grid-1 {
  margin-left: 10%;
}
.em-l-grid__item {
  width: 31.9%;
}
.em-l-grid--2up {
  margin-left: 10px;
}
.em-c-btn__text {
  color: rgba(255, 255, 255, 1) !important;
  font-size: 21px !important;
}
/* .learn{
  color:rgba(10, 48, 57, 0.5) !important;
} */
/* .learn-content{
  color:rgba(10, 48, 57, 0.5) !important;
} */
.body-header {
  text-align: left;
  height: 58px;
  width: 401px;
  font-family: "emprintsemibold";
  font-size: 46px;
  color: rgba(10, 48, 57, 1);
  margin-left: -2%;
  margin-bottom: 12%;
}
.body-header-data {
  height: 44px;
  width: 353px;
  font-family: "emprintregular";
  font-size: 16px;
  color: rgba(10, 48, 57, 1);
  text-align: left;
  line-height: 22px;
  margin-left: 5%;
  position: relative;
  bottom: 46px;
}
.solution {
  margin-right: 15%;
}
.body-header-data__container {
  display: inline-block;
  margin-right: -49%;
  margin-bottom: 9%;
  /* margin-left: 13px; */
}
.body-header-data__marker {
  height: 49px;
  border: 2px solid rgba(12, 71, 157, 1);
  width: 0px;
}
.write-up-container {
  padding-bottom: 7%;
  padding-top: 5%;
  margin-left: -82px;
  width: 101%;

}
.learning-content {
  padding-top: 11px;
  margin-left: 18%;
  font-family: "emprintregular";
  height: 66px;
  width: 85%;
  font-size: 16px;
  color: rgba(10, 48, 57, 1);
  text-align: left;
  line-height: 22px;

  
}
  

.learning-header {
  height: 38px;
  width: 300px;
  font-family: "emprintsemibold";
  font-size: 30px;
  /* color: rgba(10, 48, 57, 0.5); */
  text-align: center;
  margin-left: 42%;
}

.learning-header-community {
  height: 38px;
  width: 300px;
  font-family: "emprintsemibold";
  font-size: 30px;
  text-align: center;
  margin-left: 42%;
}
.underline-learn {
  border-bottom: 8px solid rgba(215, 56, 114, 0.8);
  width: 28%;
  padding-top: 1.5px;
}
.underline-community {
  border-bottom: 8px solid rgba(215, 56, 114, 0.8);
  width: 37%;
  padding-top: 2px;
}
.underline-solution {
  border-bottom: 8px solid rgba(215, 56, 114, 0.8);
  width: 40.2%;
  padding-top: 2px;
}
.middle-section {
  height: 214px;
  margin-top: 32px;
  background-color: #eeeeee;
  padding-top: 32px;
  
}
.middle-section-container{
  width: 100%;
}
.success-stories {
  margin-bottom: 32px;
}
.custom-btn {
  background: #d73872;
  color: #eeeeee;
  background-image: -webkit-linear-gradient(
    -259deg,
    rgba(215, 56, 114, 1) 0%,
    rgba(215, 56, 114, 1) 12%,
    rgba(189, 47, 127, 1) 36%,
    rgba(122, 65, 131, 1) 82%,
    rgba(122, 65, 131, 1) 100%
  );
  background-image: -moz-linear-gradient(
    -259deg,
    rgba(215, 56, 114, 1) 0%,
    rgba(215, 56, 114, 1) 12%,
    rgba(189, 47, 127, 1) 36%,
    rgba(122, 65, 131, 1) 82%,
    rgba(122, 65, 131, 1) 100%
  );
  background-image: -o-linear-gradient(
    -259deg,
    rgba(215, 56, 114, 1) 0%,
    rgba(215, 56, 114, 1) 12%,
    rgba(189, 47, 127, 1) 36%,
    rgba(122, 65, 131, 1) 82%,
    rgba(122, 65, 131, 1) 100%
  );
  background-image: linear-gradient(
    -259deg,
    rgba(215, 56, 114, 1) 0%,
    rgba(215, 56, 114, 1) 12%,
    rgba(189, 47, 127, 1) 36%,
    rgba(122, 65, 131, 1) 82%,
    rgba(122, 65, 131, 1) 100%
  );
}
.custom-btn:hover {
  background: #d73872 !important;
  color: #eeeeee;
  background-image: -webkit-linear-gradient(
    -259deg,
    rgba(215, 56, 114, 1) 0%,
    rgba(215, 56, 114, 1) 12%,
    rgba(189, 47, 127, 1) 36%,
    rgba(122, 65, 131, 1) 82%,
    rgba(122, 65, 131, 1) 100%
  ) !important;
  background-image: -moz-linear-gradient(
    -259deg,
    rgba(215, 56, 114, 1) 0%,
    rgba(215, 56, 114, 1) 12%,
    rgba(189, 47, 127, 1) 36%,
    rgba(122, 65, 131, 1) 82%,
    rgba(122, 65, 131, 1) 100%
  ) !important;
  background-image: -o-linear-gradient(
    -259deg,
    rgba(215, 56, 114, 1) 0%,
    rgba(215, 56, 114, 1) 12%,
    rgba(189, 47, 127, 1) 36%,
    rgba(122, 65, 131, 1) 82%,
    rgba(122, 65, 131, 1) 100%
  ) !important;
  background-image: linear-gradient(
    -259deg,
    rgba(215, 56, 114, 1) 0%,
    rgba(215, 56, 114, 1) 12%,
    rgba(189, 47, 127, 1) 36%,
    rgba(122, 65, 131, 1) 82%,
    rgba(122, 65, 131, 1) 100%
  ) !important;
}
.about-dsa {
  height: 27.8rem;
  background-color: rgba(122, 65, 131, 1);
 
}
.first {
  margin-top: 7%;
  width: 37% !important;
}
.second {
  width: 54% !important;
  margin-top: 5%;
  margin-left: 9%;
}
.about-header {
  color: #eeeeee !important;
  padding-left: 108px;
  width: 83%;
  text-align: left;
  font-size: 30px !important;
  height: 76px;
  margin-bottom: 12px !important;
}
.about-body {
  color: #eeeeee !important;
  padding-left: 108px;
  width: 83%;
  text-align: left;
  font-size: 22px !important;
  padding-bottom: 35px;
}
.large {
  width: 37%;
  right: 25px;
  padding-bottom: 7px;
  padding-top: 7px;
}

.about-container {
  margin-top: 34px;
  position: relative;
  right: 23.4%;
  /* margin-right: 172px; */
}
.btn-text {
  padding-right: 11px;
  height: 25px;
  width: 166px;
  font-size: 21px !important;
  color: rgba(122, 65, 131, 1) !important;
}
.lady-circle {
  position: relative;
  right: 23%;
}
.arif-waheed {
  position: relative;
  right: 17%;
  bottom: 20px;
}
.path-2 {
  position: relative;
  right: 86%;
}
.rectangle {
  position: relative;
  right: 84%;
  bottom: 214px;
}
.oval-1 {
  position: relative;
  right: 18%;
  bottom: 14rem;
}
.nasa {
  position: relative;
  right: 51%;
  top: 2rem;
}
.ian-espinosa {
  position: relative;
  bottom: 221px;
  left: 11%;
}
.linkedin {
  position: relative;
  bottom: 23rem;
  left: 3%;
}
.oval {
  position: relative;
  bottom: 15rem;
  right: 37%;
}
.fill_219 {
  position: relative;
  bottom: 24rem;
  left: 8rem;
}
.combined_shape {
  position: relative;
  bottom: 16rem;
  right: 6%;
}
.about-img-container {
  width: 844px;
  height: 325px;
  margin-top: -43px;
  position: relative;
  right: 199px;
}

.find-solutions {
  height: 231px;
  margin-right: -46%;
}
.community-illustration{
  margin-left: 23%;
}
.custom-block-margin{
  margin-top: 12px !important;
  margin-left: -84px;
}
.coming-soon-learn{
  position: absolute;
  margin-top: -174px;
  margin-left: -5px;
}
.coming-soon-community{
  position: absolute;
    margin-top: -178px;
    margin-left: 110px;
}
.coming-soon-solution{
  position: absolute;
  margin-top: -188px;
  margin-left: 166px;

}
.custom-community-margin{
  margin-left: 44%;
}
.custom-community-body-margin{
  margin-left: 24% !important;
}
.custom-find-soltion-body{
  margin-left: 232px !important;
}
.custom-find-solutions{
  margin-left: 70%;
}
.custom-community-body-margin{
  margin-left: 48%;
}

@media screen and (max-width: 1921px) {
  .coming-soon-solution{
    margin-left: 144px !important;
  }
  .em-l-grid--1-to-3up{
    margin-left: 9.7%;
  }
  .em-l-grid--2up{
    margin-left: 200px;
  }
  .about-img-container{
    right: 168px;
  }
  .body-header{
    margin-left: -2.3% !important;
  }
 
 
}
@media screen and (max-width: 1537px){
  .em-l-grid--1-to-3up {
    margin-left: -9px;

}
.about-img-container {
  right: 199px;
}
.coming-soon-learn{
  margin-left: -5px;
}
.em-l-grid--2up{
  margin-left: 10px;
}
}

/* @media screen and (max-width: 1921px) {
  .coming-soon-learn{
    position: relative;
    bottom: 175px;
    height: 82px;
    width: 400px;
    left: 51px;
    margin-bottom: -82px;
  }
  .coming-soon-solution{
    position: relative;
    bottom: 180px;
    height: 82px;
    width: 400px;
    right: 20px;
    margin-bottom: -82px;
  }
  .coming-soon-community{
    position: relative;
    bottom: 180.2px;
    height: 82px;
    width: 400px;
    right: 15px;
    margin-bottom: -82px;
  }
  .em-l-grid--1-to-3up{
    margin-left: 9.9%;
  }
  .body-header {
    margin-left: 18% !important;
  }
  .coming-soon {
    left: 54px;
  }
  .body-header-data__container {
    margin-right: 22%;
  }
  .learning-header {
    margin-left: 45%;
  }
  .learning-content {
    width: 108%;
    margin-left: 15%;
  }
  .solution-header {
    margin-left: 31% !important;
    width: 62%;
  }
  .solution-block-container{
    padding-left: 22%;
  }
  .first{
    margin-left: 10.2%;
  }
  .about-container{
    right: 9%;
  }
  .second{
    width: 40% !important;
    margin-left: 3.2%;
  }
  .underline-community{
    width: 48%;
    margin-left: 35%;
    margin-top: -1px;
  }
  .community-container{
    margin-top: 63px;
  }
}

@media screen and (max-width: 1537px) {

  .coming-soon-community {
    position: relative;
    bottom: 183.2px;
    height: 81px;
    width: 400px;
    right: -20px;
    margin-bottom: -82px;
}
.coming-soon-solution {
  position: relative;
  bottom: 174px;
  height: 82px;
  width: 400px;
  right: -3px;
  margin-bottom: -82px;
}
  .body-header-data__container {
    margin-right: -13%;
  }
  .body-header {
    margin-left: 20% !important;
  }
  .em-l-grid--1-to-3up {
    margin-left: -1%;
    margin-top: -10px;
}
  .learning-content {
    width: 92%;
    margin-left: 17%;
  }
  .second {
    margin-left: 12%;
    width: 51% !important;
  }
  .first{
    margin-left: 0%;
  }
  .underline-learn {
    width: 28%;
  }
  .underline-community {
    width: 42%;
    margin-top: -7px;
  }
  .underline-solution {
    width: 52%;
  }
  .solution {
    margin-right: 7%;
  }
  .about-container {
    right: 7% !important;
  }
  .learning-header {
    margin-left: 40%;
  }
  .learn {
    margin-left: 44%;
    margin-top: 3px;
    
  }
  .solution-header {
    margin-left: 33% !important;
  }
  .community-illustration{
    margin-left: 9%;
  }
  .coming-soon {
    left: 70px;
    padding-right: 17px;
  }
  .find-solutions {
    margin-right: 0%;
  }
  .learn_illustration {
    width: 114%;
    max-width: 101%;
  }
  .about-container {
    right: 3%;
  }
  .solution-block-container {
    padding-left: 13%;
  }
}
@media screen and (max-width: 1367px) {
  .body-header-data__container {
    margin-right: 2%;
  }

  .about-img-container {
    padding-left: 29px;
  }

  .body-header {
    margin-left: 19% !important;
  }
  .coming-soon {
    left: 53px;
    padding-right: 0%;
  }
  .learn_illustration {
    padding-left: 37px;
    max-width: 95%;
  }
  .find-solutions {
    margin-right: 19%;
  }
  .solution-header {
    margin-left: 29%;
  }
  .underline-solution {
    width: 51%;
  }
  .underline-learn {
    width: 28%;
  }
  .underline-community {
    width: 43%;
  }
  .learn {
    margin-top: 11px;
    margin-left: 41%;
  }
  .learning-content {
    width: 100%;
}
  
  .about-dsa {
    width: 103%;
  }
  .about-header {
    padding-left: 93px;
  }
  .about-body {
    padding-left: 94px;
  }
  .about-container {
    right: 6%;
  }
  .learning-header {
    margin-left: 33%;
  }
  .second {
    margin-left: 4%;
    width: 51% !important;
  }
} */
