.em-l-grid--1-to-3up{
    width: 111.5%;
    background-color: rgba(255, 255, 255, 1);
    margin-top: -32px;
    margin-left: -74px;
    padding-top: 27px;
  }
  .body-header{
    text-align: left;
    height: 58px;
    width: 401px;
    font-family: 'emprintsemibold';
    font-size: 46px;
    color: rgba(10, 48, 57, 1);
    margin-left: 22%;
    margin-bottom: 5%;
  }
  .body-header-data{
    height: 44px;
    width: 353px;
    font-family: 'emprintregular';
    font-size: 16px;
    color: rgba(10, 48, 57, 1);
    text-align: left;
    line-height: 22px;
    margin-left: 5%;
    position: relative;
    bottom: 46px;
  }
  .body-header-data__container{
    display: inline-block;
  }
  .body-header-data__marker{
    height: 49px;
    border: 2px solid rgba(12, 71, 157, 1);
    width: 0px;
  }
  .write-up-container{
      padding-bottom: 20%;
      padding-top: 5%;
  }
  .learning-content{
    padding-top:  11px;
    margin-left: 22%;
    font-family: 'emprintregular';
    height: 66px;
    width: 67%;
    font-size: 16px;
    color: rgba(10, 48, 57, 1);
    text-align: left;
    line-height: 22px;
  }
  .learning-header{
    height: 38px;
    width: 300px;
    font-family: 'emprintsemibold';
    font-size: 30px;
    color: rgba(10, 48, 57, 1);
    text-align: center;
    margin-left: 31%;
    
  }
  .underline-learn{
    border-bottom: 8px solid rgba(215, 56, 114, 1);
    width: 26%
  }
  .underline-community{
    border-bottom: 8px solid rgba(215, 56, 114, 1);
    width: 40%;
  }
  .underline-solution{
    border-bottom: 8px solid rgba(215, 56, 114, 1);
    width: 42%;

  }
  