.em-u-padding-top-half{
    margin-bottom: -22px !important;
    margin-top: 48px !important;
}
.blog-details-container{
    width: 1440px;
    padding-right: 140px;
    padding-left: 140px;
    margin: auto;
}
.success-story{
    background-color: rgba(245, 245, 245, 1);
    top: 132px;
    left: 317px;
    height: 350px;
    width: 1160px;
    margin-top: 30px;
}
.custom-success-image{
    display: inline-block;
    width: 50%; 
}
.custom-suggested-blog{
    width: 108.3% !important;
}
.success-img{
    height: 22rem;
    padding-right: 19%;
}
.custom-success-details{
    padding-right: 45px;
    text-align: left;
    position: relative;
    bottom: 75px;
}
.custom-uppercase{
    text-transform: uppercase;
}
.custom-read{
    padding-bottom: 30px;
}
.custom-brief-overview{
    padding-bottom: 9px;
}
.custom-ftp{
    padding-bottom: 8px;
}
.custom-success-padding{
    padding-bottom: 15px;
}
.custom-text-area{
    text-align: left;
    width: 53%;
    margin-top: 31px;

}
.custom-text-bottom-area{
    margin-top: 41px;
}
.custom-profile-pic{
    display: inline-block;
    margin-right: 35px;
}
.custom-author-font{
    font-size: 12px !important;
  }
.custom-author-padding{
    padding-bottom: 6px !important;
}  
.inline{
    display: inline-block !important;
}
.img-size{
    height: 20px;
    margin-bottom: -5px;
    margin-right: 10px;
}
.back-button-margin{
    margin-right: 94.8%;
    margin-bottom: 2%;
    cursor: pointer;
}
@media screen and (min-width: 1930px){
    .blog-details-container{
        margin-left: 22% ;
    }
    .custom-suggested-blog{
        width: 100% !important;
    }
}
@media screen and (max-width: 1537px){
  .back-button-margin{
      margin-right: 92.8%;
  }
  .custom-suggested-blog{
      width: 87.3% !important;
  }
}


