
  .row:after {
    content: "";
    display: table;
    clear: both;
   }

   
  .column {
    float: left;
    top: 1455px;
    left: 139px;
    height: 146px;
    width: 275px;
   }

   .customm-auto-width{
       width: auto !important;
   }

   .about-site{
     display: inline-block;
     margin-left: 2px;
   }

   .footer-container{
    width: 94.2%;
    background-color: rgba(255, 255, 255, 1);
    margin-top: -32px;
    margin-left: 3%;
    padding-top: 60px;
}
  .em-c-logo{
    width: 23%;
  }
  .em-l-grid-halves{
    padding-bottom: 31px;
  }
  .em-l-grid--4up{
    width: 78%;
  }
 