
  .row:after {
    content: "";
    display: table;
    clear: both;
   }

   .footer-l-container{
     max-width: 90rem;
     padding: 0 2rem;
   }
  .column {
    float: left;
    top: 1455px;
    left: 139px;
    height: 146px;
    width: 275px;
   }

   .customm-auto-width{
       width: auto !important;
   }

   .about-site{
     display: inline-block;
     margin-left: 2px;
   }

   .footer-container{
    background-color: rgba(255, 255, 255, 1);
    margin-top: -32px;
    width: 90rem;
    padding-top: 60px;
    margin-left: 12.5%;
   }

  .em-c-logo{
    width: 16%;
  }

  .em-l-grid-halves{
    padding-bottom: 31px;
  }

  .em-l-grid--4up{
    width: 78%;
  }

  .custom-about-site-margin{
    margin-left: -22%;
  }

  .custom-logo-margin{
    margin-right: -50%;
  }
  
  .custom-analytics{
    margin-left: 112px;
    margin-top: 42px;
  }

  .custom-analytics-margin{
    margin-bottom: -23px;
  }

  .custom-downstream-text{
    text-align: -webkit-auto;
    margin-left: 112px;
    width: 113%
  }

  @media only screen and (max-width: 1370px){
    .footer-container{
      margin-left: 3%;
     }
  }
 