
  .row:after {
    content: "";
    display: table;
    clear: both;
   }

   
  .column {
    float: left;
    top: 1455px;
    left: 139px;
    height: 146px;
    width: 275px;
   }

   .customm-auto-width{
       width: auto !important;
   }

   .about-site{
     display: inline-block;
     margin-left: 2px;
   }

   .footer-container{
    background-color: rgba(255, 255, 255, 1);
    padding-top: 41px;
    padding-bottom: 50px;
    margin-left: -5%;    
   }
   .footer-description{
    margin-right: 22%;
   }
  .em-c-logo{
    width: 16%;
  }

  .em-l-grid-halves{
    padding-bottom: 31px;
  }

  .em-l-grid--4up{
    padding-bottom: 116px;
    width: 92%;
  }

  .custom-about-site-margin{
    margin-left: -26%;
  }
  .footer-text-padding{
    padding-bottom: 10px;
    
  }
  .custom-footer-data{
    margin-left: 96px;
  }
  /* .custom-downstream-margin{
    margin-left: -33px;
  } */

  .footer-highlighted-emre-padding{
    padding-bottom: 38px;
  }

  .footer-highlighted-coperate-padding{
    padding-bottom: 107px;
  }

  .footer-highlighted-urc-padding{
    padding-bottom: 42px;
  }
 
  .exon-logo{
    width: 10%;
    margin-left: 66.8%;
    padding-top: 8px;
  }
  
  .custom-logo-margin{
    margin-right: -50%;
  }
  
  .custom-analytics{
    margin-left: 112px;
    margin-top: 42px;
    margin-bottom: 24px !important;
    margin-top: 37px !important;
  }

  .custom-analytics-margin{
    margin-bottom: -23px;
  }

  .custom-downstream-text{
    text-align: -webkit-auto;
    margin-left: 112px;
    width: 113%
  }
  @media only screen and (min-width:  1930px){
    .footer-container{
      margin-right: 13.9%;
      margin-left: 17%
    }
    .custom-about-site-margin{
      margin-left: -19%;
    }
  }
  @media only screen and (max-width: 1921px){
    .custom-about-site-margin{
      margin-left: -0%;
    }
    .em-l-grid--halves{
      margin-left: 10.1%;
    }
    .footer-container{
      margin-left: -5.2% !important;
    }
    .em-l-grid--4up{
      margin-left: 10.5%;
      width: 74%;
    }
    .custom-logo-margin{
      margin-right: -21%;
    }
    .custom-analytics{
      margin-left: 321px !important;
    }
    .footer-description {
      margin-right: 0%;
      margin-left: 2%;
    }
    .custom-footer-data{
      margin-left: 134px;
    }
  }

  @media only screen and (max-width: 1537px){
    .exon-logo{
      margin-left: 85%;
    }
    .custom-footer-data{
      margin-left: 95px;
    }
    .custom-about-site-margin{
      margin-left: -25%;
    }
    .em-l-grid--4up {
      margin-left: 0%;
      width: 82%;
  }
  .custom-analytics{
    margin-left: 110px !important;
    margin-bottom: 5px !important;
  }
    /* .footer-container{
      margin-left: 1%;
     } */
     .footer-description{
       margin-right: 5%;
     
     }
     .em-l-grid--halves {
      margin-left: 0.1%;
  }
  .custom-logo-margin {
    margin-right: -36%;
}
.custom-chemical-margin{
  margin-left: -35px;
}
 
  }

  @media only screen and (max-width: 1370px){
    .footer-container{
      margin-left: 0%;
    
     }
     .custom-about-site-margin{
      margin-left: -11%;
    }
    .second{
      margin-left: 7%;
      width: 54% !important;
    }
    .footer-description{
      margin-right: 13%
    }
    
  }

  


 